<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://pub-325c2ddc75824ff0ab75e4e15c4843ab.r2.dev/893322816/b413a922-11e6-4505-86ac-d7133cd40887.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://ittza7aa.com/aseets/free.JPG</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://ittza7aa.com/aseets/free.JPG</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.kurdstore.ittza7aa</string>
<key>bundle-version</key>
<string>1.1.1</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>ittza7aa free</string>
<key>title</key>
<string>Video Star Hack</string>
</dict>
</dict>
</array>
</dict>
</plist>
